<div class="border-right p-3 shadow-sm" id="sidebar">
  <h3>GifsApp</h3>
  <hr>
  <p class="fw-light">Búsquedas recientes</p>
  <hr>

  <div class="overflow-y-auto overflow-x-auto" id="tagHistory">
    <div class="list-group small">
      <div *ngFor="let tag of tags; let i=index">
        <ng-container *ngIf="i == 0; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
          <a role="button" class="list-group-item list-group-item-action active" (click)="search(tag)">{{ tag | titlecase }}</a>
        </ng-template>
        <ng-template #elseTemplate>
          <a role="button" class="list-group-item list-group-item-action" (click)="search(tag)">{{ tag | titlecase }}</a>
        </ng-template>
      </div>
    </div>
  </div>
</div>
