<div class="text-center bg-image rounded-3 mb-4" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
  ">
  <div class="mask rounded-3 pt-3" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center">
      <div class="row">
        <div class="col-12">
          <h1 class="text-white">Gifs Repository</h1>
        </div>
        <div class="col-12">

          <form>
            <div class="input-group p-2">
              <input type="search" class="form-control">
              <span class="input-group-addon">
                <button type="button" class="btn btn-primary">
                  <i class="bi bi-search"></i>
                </button>
              </span>
            </div>
          </form>

        </div>

        <h2>&nbsp;</h2>
      </div>
    </div>
  </div>
</div>
